.curvy_wrapper {
  position: relative; }
  .curvy_wrapper .curvy {
    position: absolute;
    top: 0;
    left: 0; }
  .curvy_wrapper .curvy_bg {
    z-index: 1; }
    .curvy_wrapper .curvy_bg .path {
      stroke-dashoffset: 1000;
      stroke-dasharray: 10;
      stroke: #DBDBDA;
      stroke-width: 4;
      stroke-miterlimit: 10; }
  .curvy_wrapper .curvy_animated {
    position: absolute;
    z-index: 2; }
    .curvy_wrapper .curvy_animated .path {
      stroke-dashoffset: 1000;
      stroke-dasharray: 1000;
      animation: dash 6s linear alternate infinite;
      stroke: orange;
      stroke-width: 4;
      stroke-miterlimit: 10; }
@keyframes dash {
  from {
    stroke-dashoffset: 1000; }
  to {
    stroke-dashoffset: 0; } }

/*# sourceMappingURL=style.css.map */
